
.primary-nav .block-list {
  margin-left: -0.5rem;
  margin-right: -1rem;
}
.block-list li  {
  font-family: 'Raleway', sans-serif;
  margin-top: 5px;
  background: rgba(89, 52, 32, 0.9);
  border-bottom: 1px solid #262626;
  border-radius: 10px;

  color: #eee;
}
.block-list li:first-child {
  border-top: none;
}
.block-list li > a, .block-list li > span, .block-list li > label {
  height: 100px;
  color: #CBBB92;
  background: rgba(97, 63, 45, 0.6);
  border-bottom: 1px solid #262626;
  border-radius: 10px;
}

.primary-nav .block-list li > a, .block-list li > span, .block-list li > label {
   background-color: #A19079;
  border-bottom: 1px solid #262626;
  border-radius: 5px;
  color: #2e2520 !important;
}

.selected {
  background: #7B6B4F !important;
}

.primary-nav .block-list li {


}
.secondary-nav {
  background: #C8C6B7 !important;
}

em {
  color: rgba(139, 120, 88, 1);
}

.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

.imagebackground {
  background: transparent url(../../assets/images/myra_sig.png) no-repeat 55% 15% fixed !important;

}

.text-background {
  background: $body-background !important;
}

.add-overflow {
  overflow-y: scroll;
}

