---
name: home
url: /
---

<div class="grid-frame" style="padding: 8px;">
    <div class="grid-block horizontal" ng-controller="MainOptionsCtrl">

        <div  ng-init="updateSelectedItem(0);setSelectedPrimary(0); "></div>
        <!-- primary navigation -->
        <div zf-panel position="left" id="sub-nav" class="fast bounceInOut medium-2 medium-grid-content primary-nav">
            <section class="block-list">
                <ul>
                    <li ng-repeat="mainNav in layout">
                        <a ng-click="updateSelectedItem($index);setSelectedItem(null);setSelectedPrimary($index);setPanelPosition(context.primaryNavigation.contentType)" ng-class="{selected: $index === selectedPrimary}">{{mainNav.section.name.label}}</a>
                    </li>
                </ul>
            </section>
        </div>


        <!-- secondary navigation -->
        <div class="small-12 medium-2 small-up-12 messages medium-grid-content " ng-init="setPageIndex(0);">
            <a class="button secondary expand hide-for-medium" zf-open="sub-nav">Options</a>
            <section class="block-list" >
                <li ng-repeat="subNav in layout[context.primaryNavigation.selectedItem].section.secondaryNav">
                    <a ng-click="setPageIndex($index); setPanelPosition(context.secondaryNavigation.contentType); setSelectedItem($index);" zf-toggle="info" ng-class="{selected: $index === selectedItem}">{{subNav.section.title}}</a>
                </li>
            </section>
        </div>

        <!-- main panel -->
        <div exhibit-panel=""
             update-page="setCurrentPage(context.secondaryNavigation.pageIndex)"
             id="info"
             panel-position="panelPosition"
             context="context"
             class="slow bounceInOut small-grid-content" >
        </div>


    </div>
</div>

