
<div>
    <!-- padding prevents occasional flicker as image loads -->
    <div class="grid-block" ng-if="context.pageElements.contentType=='text'">
        <div class="grid-content" style="padding-top: 8px;">
            <exb-text class="small-12 large-9" ></exb-text>
        </div>
    </div>

    <div class="" ng-if="context.pageElements.contentType=='image'">

        <div class="grid-content" style="padding-top: 8px;">
            <exb-image context="context"></div>
    </div>


    <div class="" ng-if="context.pageElements.contentType=='imageAndText'">

        <div class="grid-content" style="padding-top: 8px;">
            <exb-text-and-image context="context" />
        </div>
    </div>

    <div class="grid-content" ng-if="context.pageElements.contentType=='pagesArray'">
        <div  style="padding-top: 8px;">
            <exb-page-carousel></exb-page-carousel>
        </div>
    </div>

</div>
