


<!-- zf-interchange throwing error in console, perhaps because images are indentical -->
<!-- <zf-interchange> -->
<!-- <img media="small" src="/assets/images/{{context.pageElements.imageFileName}}.jpg">
 <img media="medium" src="/assets/images/{{context.pageElements.imageFileName}}.jpg">   -->
<div class="text-background" style="padding-right: 20px;">
    <img  media="large" src="assets/images/{{context.pageElements.imageFileName}}.jpg"  style="max-height: 900px;">
</div>
<!--   </zf-interchange>-->

<p ><em>{{context.pageElements.title}}</em>, {{context.pageElements.imageDescription}}</p>

