
<div class="grid-block vertical small-12 medium-12 large-9">
    <div class="grid-block" >
        <zf-interchange>
            <img media="small" src="/assets/images/{{context.pageElements.imageFileName}}.jpg">
            <img media="medium" src="/assets/images/{{context.pageElements.imageFileName}}.jpg">
            <img media="large" src="/assets/images/{{context.pageElements.imageFileName}}.jpg" style="max-height: 900px;">
        </zf-interchange>
    </div>
    <div class="grid-block">
        <p><em>{{context.pageElements.title}}</em>, {{context.pageElements.imageDescription}}</p>
    </div>
</div>