
<div class="  text-background" style="padding-left: 30px; padding-right: 30px;">

    <h3>{{context.pageElements.title}}</h3>

    <slick init-onload="true" infinite="false" autoplay="false" data="context.pageElements.imageArray" arrows="false" slides-to-show="1" slides-to-scroll="2" dots="true" >
        <div ng-repeat="image in context.pageElements.imageArray">
            <img  data-lazy="assets/images/{{image.imageFileName}}.jpg" style="max-height: 900px;">
        </div>
    </slick>

</div>