<div class="text-background">
    <div>
        <span ng-if="context.pageElements.showTitle !='false'">
              <h3>{{context.pageElements.title}}</h3>
        </span>

        <ng-include src="context.pageElements.html" ></ng-include>
        <hr>
        <div ng-repeat="(key,value) in context.pageElements">
            {{key}} : {{value}}
        </div>
        <hr>

        <div ng-repeat="n in context.pageElements">
            {{n}}
        </div>
        <hr>

        {{context.pageElements.imageFileName}}
        <p>&nbsp;</p>
    </div>
</div>
